[submodule "lib/SparkFun_u-blox_GNSS_v3"]
	path = lib/SparkFun_u-blox_GNSS_v3
	url = git@github.com:sparkfun/SparkFun_u-blox_GNSS_v3.git
[submodule "lib/TeensyThreads"]
	path = lib/TeensyThreads
	url = git@github.com:ftrias/TeensyThreads.git
[submodule "lib/SdFat"]
	path = lib/SdFat
	url = git@github.com:greiman/SdFat.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = git@github.com:bblanchon/ArduinoJson.git
